*{
    font-family: Tahoma;
}

span{
    background-color: rgba(255,200,0,0.5);
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
}

span.inline{
    display: inline;
}

span.block{
    display: block;
}

span.inlineBlock{
    display: inline-block;
}

div.flexContainer{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    padding: 20px;
    justify-content: center;
}

div.flexmode{
    background-color: azure;
    display: flex;
    height: 100px;
    width: 100px;
    margin: 10px;
}