*{
  font-family: Arial;
}

.content{
  font-size: 36px;
  text-align: center;
  background-color: bisque;

  width: 100px;
  height: 40px;

  padding: 10px;
  border: 20px solid blue;
  margin: 40px;
}

.container{
  background-color: aquamarine;
  width: 240px;
  height: 180px;
  border: 2px solid red;
}