/* Macam-macam Selector Di CSS */

/* 1. Selector Universal */
*{
  font-family: Arial;
}

/* 2. Tag Selector */
h1{
  color: chocolate;
}

h2{
  color: darkblue;
}

/* 3. Class Selector */
li.sarapan{
  color: darkgoldenrod;
}

/* 4. Id Selector */
#makanSiang_Senin{
  color: darkgreen;
}

/* 5. Child Selector    Mengambil Anaknya saja*/
p>b{
  color: darkorange;
}

li>b{
  color: darkslateblue;
}

/* 6. Decendant Selector Mengambil Keseluhruhan dari cucu cicit buyut*/
p b{
  color: darkorange;
}

/* 7. Adjacent Sibling Selector  x+y ==> y yang setelah x */
p+h2{
  color: deeppink;
}

/* 8. General Sibling Selector   x~y ==> y yang sebelum x x*/
h2~p{
  background-color: chartreuse;
}