.box1{
    background-color: gray;
    height: 100px;
    width: 300px;             
}

.box2{
    background-color: aqua;
    height: 200px;
    width: 400px;
}

.box1 p{
    background-color: #0088dd;
    height: 75%;            /* 75% dari aslinya, atau 3/4*/
    width: 75%;
}

.box2 h2{
    width: 25%;
    background-color: bisque;
}

.box2 p{
    width: 50%;
    background-color: coral;
}
td{
    background-color: cadetblue;
}
td.deskripsi{
    min-width: 450px;   /* Kalau web di-pendekan, 450 sudah paling minimal, dan akan memotong sebelahnya*/
    max-width: 500px;   /* Kalau web di-panjangkan, 500 sudah maksimal, jadi dia tidak wrap seluruh*/
    background-color: orange;
}

/* Overflow */
h1,h2{
    font-family: Arial;
    color: dodgerblue;
}

p.satu{
    height: 100px;
    width: 200px;
    overflow: hidden;       /* Terpotong/ tersembunyi */
}

p.dua{
    height: 100px;
    width: 200px;
    overflow: scroll;       /* Scroll */
}