body{
  width: 960px;
  margin: 0 auto;
  font-family: Arial;
}

#header h1{
  text-align: center;
}

#content{
  overflow: auto;     /* Jika lebih, maka ada scroll bar, jika tidak melewati maka tidak ada scroll bar*/
  height: 100%;
}

#nav, #feature, #footer{
  text-align: center;
  padding: 10px;
  background-color: #efefef;
  margin: 10px;
}

.column1, .column2, .column3{
  background-color: #efefef;
  width: 280px;
  float: left;
  margin: 10px;
  padding: 10px;
}

#content h3{
  text-align: center;
}

#content p{
  margin: 10px;
}

#feature img{
  width: 120px;
}

li{
  display: inline;
  padding: 5px;
}