/* Universal Selector */
*{
    font-family: Tahoma;
}

/* Type Selector */
h1{
    font-size: 30px;
}

/* Class Selector */
.artikel{
    font-size: 20px;
}

.credit{
    font-size: 12px;
}

.penulis{
    color: crimson;
}

.tanggal{
    color: darkolivegreen;
}

/* Id Selector */
#artikel1{
    color: darkgoldenrod;
}

/* Child Selector */
p>span{
    color: blueviolet;
}

/* Adjacent Sibling Selector */
h3+p{
    color: gray;
    font-size: 18px;
}

/* General Sibling Selector */
h1~p{
    text-align: justify;
}