input{
    font-size: 120%;
    color: darkslategrey;
    background-color: #efefef;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 5px 5px 34px;
    display: block;
    margin-bottom: 10px;

    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px;
}

input:focus{
    background-color: #ffffff;
}

input#email{
    background-image: url(../img/mail.png);
}

input#web{
    background-image: url(../img/web.png);
}

input#instagram{
    background-image: url(../img/instagram.png);
}

input#submit{
    color: #444444;
    text-shadow: 0px 1px 1px #ffffff;
    background-color: dodgerblue;
    padding: 5px 10px 5px 10px;
}

input#submitX:hover{
    color: chartreuse;
    background-color: hotpink;
}

input#submitX:active{
    color: green;
    background-color: aqua;
}