*{
    font-family: Arial;
}

/* Aturan Terakhir, akan menjalankan yang Terbawah jika sama*/
i{
    color: green;
}

i{
    color: red;     /* Ini Yang Akan Diambil */
}

/* Specific */
b{
    color: pink;    /* Level 1 */
}

p b{
    color: brown    !important; /* Level 3 */
}

p b{
    color: yellow;  /* Level 2 */
}

p b{
    font-size: 200%;
}

/* Studi Kasus */
p{
    font-size: 100%;
}

p#pendahuluan{
    font-size: 75%;     /* Lebih Specific */
}