*{
    font-family: Arial;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: coral;
    z-index: 2;
}

.container{
    position: relative;
    top: 100px;
    z-index: 1;
}

/*? Semakin Besar Z-index, maka dia makin di depan layer/flow */