*{
  font-family: Arial;
}

.dekor{
  width: fit-content;
  height:fit-content;
  border: 5px solid;
  padding: 20px;
  padding-right: 40px;
}

.margin1{
  margin: 5px;
}

.margin2{ 
  margin: 10px 20px;
}

.margin3{
  margin: 10px auto 50px;
}

.margin4{
  margin: 10px 20px 40px auto;
  /* margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: auto; */
}
