*{
  font-family: Tahoma;
}

.header{
  display: flex;
  background-color: cornflowerblue;
  padding: 10px;
  justify-content: center;
}

.header-title{
  color: cornsilk;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
}

.judul{
  display: flex;
  background-color: coral;
  padding: 5px;
  margin-top: 10px;
  justify-content: center;
  font-size: 20px;
  color: aliceblue;
}

/* Konten */

.konten{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.konten-credit{
  font-size: 14px;
  font-weight: normal;
}

.penulis{
  color: crimson;
}

.tanggal{
  color: olive;
}

span{
  color: blue;
}

/* Halaman Utama Container */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-preview{
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: antiquewhite;
}

.box-preview-judul{
  font-size: 1.2em;
  height: 60px;
  font-weight: bold;
}

.box-preview-credit{
  font-style: italic;
}

div.box-preview:hover{
  background-color: #efefef;
}