/* Border, Padding, Margin */

.box{
  height: fit-content;
  width: fit-content;
  background-color: chartreuse;
  font-size: 30px;

  /* Margin */
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;

  /* Padding */
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  /* Border */
  border: 4px solid black;
}

p.hello{
  background-color: white;
  width: fit-content;

  /* Padding */
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  /* Margin */
  margin-top: 0px;
  margin-bottom: 0px;

  /* Border */
  border: 3px solid pink;
}

p.hello b{
  font-family: Arial;
  font-weight: bold;
  background-color: black;
  color: blue;
}