*{
  font-family: Tahoma;
}

p{
  background: aqua;
}

.fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background-color: coral;
}

.container{
  margin-top: 90px;
}