body{
    font-family: Arial;
    color: darkslateblue;
    padding: 20px;
}

.intro{
    border: 1px solid #665544;
    background-color: #efefef;
    padding: inherit;               /* Inherit == Mengikuti Value dari Parentnya */
                                    /* Dan BODY disitu adalah Parent dari DIV */
}